<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/{baseName}"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="4"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_CLASSPATH_ONLY_JAR" value="false"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="{userParams}"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="{baseName}"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="{baseName}"/>
    <stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="{cwd}"/>
</launchConfiguration>
