name: ci-build
on:
  pull_request:
    branches:
      - main
  workflow_dispatch:
    inputs: &inputs
      debug_enabled:
        description: 'Run the build with tmate debugging enabled (https://github.com/marketplace/actions/debugging-with-tmate)'
        required: false
        type: boolean
        default: false
      debug_detached:
        description: 'Run tmate debugging in detached mode'
        required: false
        type: boolean
        default: true

jobs:
  ci-build:
    uses: ./.github/workflows/step-ci-build.yml
    with:
      debug_enabled: ${{ inputs.debug_enabled }}
      debug_detached: ${{ inputs.debug_detached }}
      