name: early-access-release

## Intent is to run the ci-build workflow and download the artifacts
## and perform as much of jreleaser flow as possible and publish
## as an ever moving earlyaccess release.

on:
  push:
    branches:
    - main
  workflow_dispatch:

concurrency:
  group: earlyaccess-release
  cancel-in-progress: true

jobs:
  ci-build:
    uses: ./.github/workflows/ci-build.yml
    
  jreleaser:
    needs: ci-build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - id: shared-build
        uses: ./.github/actions/shared-build-setup
        with:
          java-version: 11
      - name: Download jbang distribution
        uses: actions/download-artifact@v4
        with:
          name: ${{ steps.shared-build.outputs.github-short-sha }}-shared-build-jbang
          path: build/install/jbang
     
      - name: Download native image
        uses: actions/download-artifact@v4
        with:
          name: ${{ steps.shared-build.outputs.github-short-sha }}-jbang.bin-*
          path: build/native-image
    
      - name: Show workspace tree
        run: |
          echo "Workspace: $GITHUB_WORKSPACE"
          tree -a
          ls -la
