name: early-access-release

## Intent is to run the ci-build workflow and download the artifacts
## and perform as much of jreleaser flow as possible and publish
## as an ever moving earlyaccess release.

on:
  push:
    branches:
    - main
  workflow_dispatch:

concurrency:
  group: earlyaccess-release
  cancel-in-progress: true

jobs:
  ci-build:
    uses: ./.github/workflows/ci-build.yml
    
  jreleaser:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - id: shared-build
        uses: ./.github/actions/shared-build-setup
        with:
          java-version: 11
      - name: Download artifacts
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6
        with:
          name: ${{ steps.shared-build.outputs.github-short-sha }}-shared-build-jbang
          path: build/install/jbang
     
