name: install-tests
on:
   workflow_dispatch:

jobs:
  macos:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v3
    - name: Remove Java
      run: |
        sudo rm -rf /Library/Java/*
        sudo rm -rf /Users/runner/hostedtoolcache/Java*
    - name: check jbang does not exist
      run: |
        if command -v jbang; then
          echo "jbang already exists!"
          exit 1
        fi
    - name: install jbang
      run: |
        curl -Ls https://sh.jbang.dev | bash -s - app setup
        source ~/.zshrc
        if ! command -v jbang; then
          echo "jbang not found after install!"
          exit 1
        fi
    - name: run jbang no java
      run: |
        source ~/.zshrc
        jbang init -t cli testcli.java
        ./testcli.java
    - name: run jbang java 17
      run: |
        jbang init -t cli testcli.java
        jbang --java 17 testcli.java
