name: refresh-docs-on-website

## If changes on main affects docs folder we refresh the website
## Eventually should nove this to be tied to tags/releases but for now just main

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  website-check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
        with:
          fetch-depth: 2
      - name: Verify Changed files in docs
        id: verify-changed-files
        run: |
          if git diff --name-only HEAD~1 | grep '^docs/' > /dev/null; then
            echo "files_changed=true" >> $GITHUB_ENV
          else
            echo "files_changed=false" >> $GITHUB_ENV
          fi
      - name: update website
        if: ${{ github.ref == 'refs/heads/main' && env.files_changed == 'true' }}
        uses: benc-uk/workflow-dispatch@e2e5e9a103e331dad343f381a29e654aea3cf8fc # v1
        with:
          workflow: github-pages
          repo: jbangdev/jbang.dev
          token: ${{ secrets.BREW_GITHUB_TOKEN }}