## have to upload via this seperate workflow
## to avoid limitations of PR's from forked
## repos which wont have write access by default.
 
name: report
on:
  workflow_run:
    workflows: [ci-build]
    types: [completed]
    
permissions:
  checks: write
  pull-requests: write

jobs:
  checks:
    runs-on: ubuntu-latest
    steps:
      - name: Get workflow run details
        id: workflow_details
        run: |
          gh api repos/${{ github.repository }}/actions/runs/${{ github.event.workflow_run.id }} \
            --jq '.head_branch' > branch.txt
          BRANCH_NAME=$(cat branch.txt)
          echo "branch_name=${BRANCH_NAME}" >> $GITHUB_ENV
        env:
          GH_TOKEN: ${{ github.token }}

      - name: Fetch PR number
        id: fetch_pr
        run: |
          PR=$(gh pr list --head "${{ env.branch_name }}" --json number --jq '.[0].number')
          echo "pr_number=${PR}" >> $GITHUB_ENV
        env:
          GH_TOKEN: ${{ github.token }}

      - name: Output PR number
        run: |
          echo "The PR number is: ${{ env.pr_number }}"

      - name: Download Test Report
        uses: actions/download-artifact@v4 # v2
        with:
          name: junit-test-results-*
          #path: test-${{ matrix.os }}
          #pattern: my-artifact-*
          merge-multiple: true
          run-id: ${{ github.event.workflow_run.id }}
      - name: Publish Test Report
        uses: mikepenz/action-junit-report@62516aa379bff6370c95fd5894d5a27fb6619d9b # v5
        with:
          commit: ${{github.event.workflow_run.head_sha}}
          report_paths: '**/build/test-results/test/TEST-*.xml'
          comment: true
